In [1]:
import nltk
import pandas as pd

annotations_df = pd.read_csv('ps_dataset1_cleaned.csv')

In [2]:
annotations_df.head()

,annotation_text,annotated_quote,annotation_location,category
0,Hermione providing aid to her King and husband...,"Tongue-tied, our queen?\n Speak you.",Act 1 Scene 2,Gender
1,"Everyone is playing, but Leontes is the only o...","Go play, boy, play. Thy mother plays, and I \n...",Act 1 Scene 2,None
2,I thought it was strange how Leontes asks Mami...,"Mamillius,\n Art thou my boy?",Act 1 Scene 2,Class
3,It's the giving of hands that leads to the pla...,Give me that hand of yours to kiss.,Act 5 Scene 3,Class
4,I think this line is very important. Leontes i...,You kill her double,Act 5 Scene 3,Gender

In [3]:
annotations = annotations_df["annotation_text"][0]

In [4]:
# split into words
from nltk.tokenize import word_tokenize
annotation_tokens = word_tokenize(annotations)
print(annotation_tokens[:100])

['Hermione', 'providing', 'aid', 'to', 'her', 'King', 'and', 'husband', ',', 'almost', 'used', 'as', 'an', 'accessory', '.']

In [5]:
# remove all tokens that are not alphabetic
words = [word for word in annotation_tokens if word.isalpha()]
print(words[:100])

['Hermione', 'providing', 'aid', 'to', 'her', 'King', 'and', 'husband', 'almost', 'used', 'as', 'an', 'accessory']

In [6]:
from nltk.corpus import stopwords
stop_words = stopwords.words('english')
print(stop_words)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [7]:
# convert to lower case
annotation_tokens = [w.lower() for w in annotation_tokens]
# remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in annotation_tokens]
# remove remaining tokens that are not alphabetic
words = [word for word in stripped if word.isalpha()]
# filter out stop words
words = [w for w in words if not w in stop_words]
print(words[:100])

['hermione', 'providing', 'aid', 'king', 'husband', 'almost', 'used', 'accessory']

In [8]:
quotes = annotations_df["annotated_quote"][0]

In [9]:
# split into words
quote_tokens = word_tokenize(quotes)
print(quote_tokens[:100])

['Tongue-tied', ',', 'our', 'queen', '?', 'Speak', 'you', '.']

In [10]:
# remove all tokens that are not alphabetic
quote_words = [word for word in quote_tokens if word.isalpha()]
print(quote_words[:100])

['our', 'queen', 'Speak', 'you']

In [11]:
for quote in quotes: 
    quote.replace("\r", "")
    quote.replace("\n", "")
    quote.replace("\\", "")
    quote.replace("xa0", "")

print(quotes)

Tongue-tied, our queen?
  Speak you.

In [12]:
annotations_df["annotation_text"][0] = annotations

In [13]:
annotations_df["annotated_quote"][0] = quotes

In [14]:
annotations_df

,annotation_text,annotated_quote,annotation_location,category
0,Hermione providing aid to her King and husband...,"Tongue-tied, our queen?\n Speak you.",Act 1 Scene 2,Gender
1,"Everyone is playing, but Leontes is the only o...","Go play, boy, play. Thy mother plays, and I \n...",Act 1 Scene 2,None
2,I thought it was strange how Leontes asks Mami...,"Mamillius,\n Art thou my boy?",Act 1 Scene 2,Class
3,It's the giving of hands that leads to the pla...,Give me that hand of yours to kiss.,Act 5 Scene 3,Class
4,I think this line is very important. Leontes i...,You kill her double,Act 5 Scene 3,Gender
...,...,...,...,...
893,"This reminds me of Trump claiming ""falsehoods""...",This is mere falsehood,Act 3 Scene 2,None
894,"I can't read the word ""goodly"" without also se...","“She is a goodly lady,”",Act 2 Scene 1,None
895,"This reminds me of Trump claiming ""falsehoods""...",This is mere falsehood.,Act 3 Scene 2,Pandemics
896,The moon,the wat’ry star,Act 1 Scene 2,None
897,"Although the two kings are bff's, the play set...",great\n difference betwixt our Bohemia and yo...,Act 1 Scene 1,Pandemics

In [15]:
annotations_df.to_csv('ps_dataset1_cleaned.csv',index=False)